# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.env

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Build
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db